*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left
}

nav li a {
    display: block;
    color: #000000;
    text-decoration: none;
    margin-right: 8px;
}


header {
    margin-left: 10%;
    margin-right: 10%;
    padding: 18px 100px;
}

.logo {
    width: 40px;
    height: 5vh;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}
